.idea/*
__pycache__/*
*/__pycache__/*
.env

# media files
*.mp4
*.srt
*.m4a
*.mp3
*.webm
*.mpga
*.wav
*.mpeg
*.mov

# subdirectories in input/ and output/
input/*/
output/*/

# log file
*.log
Cross-repo .env file support

